{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2>Products in {{ category.name }}</h2>
  <br>
  <div class="row">
    {% for product in products %}
    
    <div class="product">
      <div class="image-container">
        <img src="{{product.img.url}}" alt="Product Image">
      </div>
      <div class="product-body">
        <h3 class="product-name">{{ product.title }}</h3>
        <br>
        <h4 class="product-price">Price: ${{ product.price }}</h4>
       
        <p>{{ product.description|slice:":100" }}{% if product.description|length > 100 %}...{% endif %}</p>
        <div class="product-btns">
          <br>
          <a href="{% url 'product_detail' product.id %}" class="btn btn-danger btn-sm">View Details</a>

        </div>
      </div>
     
    </div>
    {% empty %}
    <div class="col-12">
      <p class="text-center">No products found in this category.</p>
    </div>
    {% endfor %}
  </div>
</div>
{% if products.has_other_pages %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
     {% if products.has_previous %}
      <a class="page-link" href="?page={{products.previous_page_number}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
      {% endif %}
    </li>
    {% for i in products.paginator.page_range %}   
      <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
    {% endfor %}
    <li class="page-item">
     {% if products.has_next %}
      <a class="page-link" href="?page={{products.next_page_number}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
     {% endif %}
    </li>
  </ul>
</nav>
{% endif %}
{% endblock %}
