{% load i18n %}
{% autoescape off %}
{% blocktrans %}مرحباً {{ user.first_name }}،{% endblocktrans %}

{% blocktrans %}
{user.first_name}، نداء استغاثة! 🚩

لقد تلقينا إشارة أنك فقدت مفتاح القيادة:

-اضغط على الرابط في الاسفل
- تأكد من حفظه في مكان آمن هذه المرة!

"الحماية أولًا.. الربح لاحقًا"
فريق Liystا 🔑
{% endblocktrans %}

{% trans "أعد توليد المفتاح: " %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "إذا لم تطلب هذا التغيير، يمكنك تجاهل هذه الرسالة." %}

{% trans "مع تحيات،" %}
{% blocktrans %}فريق {{ site_name }}{% endblocktrans %}
{% endautoescape %}